.tong{
    margin: 0px auto;
    width: 100%;
    height: auto;
}
.xanhla{
    background-color: rgb(87, 141, 7);
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: whitesmoke;
    font-size: xx-large;
}
.cam{
    background-color: orange;
    width: 50%;
    margin: 0px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: aliceblue;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.lau{
    width: 100%;
    background-color: rgb(228, 162, 76);
    height: 70px;
    color: aliceblue;
    font-size: larger;
    line-height: 70px;
    text-align: center;
}
@media screen  and (max-width: 768px) {
    .xanhla{
        width: 100%;
        text-align: center;
    }
    .cam{
        width: 80%;
        
    }
    .lau{
        width: 100%;
    }
}